{% extends 'base3.html' %}
{% load custom_filters %}
{% load static %}

<html>
{% block header2 %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css"rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock header2 %}

{% block content  %}

    <form method="get" action="" name="filter_form">
    <div class="alert alert-primary" role="alert">
        
        <div>
            <h2>Project List:</h2>
            <div class="form-check">
                {% for project in project_list %}

                    <input type="checkbox" id="filter_kind_{{ project.pk }}" 
                        name="project" 
                        value="{{ project.pk }}"
                        {{ project.pk|checked:request.GET }}
                    >
                <label class="form-check-label" for="exampleRadios1">
                    {{ project.Name }}
                </label>
                {% endfor %}
            </div>
        </div>
        <div>
            <button id="filter" class="btn btn-primary">submit</button>
        </div>
    </div>
    <div>
        {{div| safe}}
    </div>
    </form>

    <div id="main">
        <h2>Task List</h2>
        <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Project</th>
                <th scope="col">Task</th>
                <th scope="col">Deadline</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for task in object_list %}

                <tr>
                  <th scope="row">1</th>
                  <td>{{ task.project }}</td>
                  <td>{{ task.taskName }}</td>
                  <td>{{ task.deadline | date:"o/m/d"}}</td>
                  
                  <td>    
                    <a href="{% url 'update' task.pk %}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Edit</a>
                    <a href="{% url 'delete' task.pk %}" class="btn btn-Danger " tabindex="-1" role="button" aria-disabled="true">Delete</a>
                </tr>
                {% endfor %}
              </tbody>

            
        </table>
    </div>





{% endblock content %}

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
{{script| safe}}

<html>