{% extends 'base3.html' %}
{% block header %}

{% endblock header%}

{% block content%}
<div id="main">
    <h2>Project List</h2>
    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Project Name</th>
            <th scope="col">Task</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for task in object_list %}

            <tr>
              <th scope="row"></th>
              <td>{{ task.Name }}</td>
              
              <td>    
                <a href="{% url 'pjupdate' task.pk %}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Edit</a>
                <a href="{% url 'pjdelete' task.pk %}" class="btn btn-Danger " tabindex="-1" role="button" aria-disabled="true">Delete</a>
            </tr>
            {% endfor %}
          </tbody>

        
    </table>
</div>
{% endblock content%}